$highlight_color: rgb(219, 235, 239);

.grid {
  display: flex;
  flex-flow: row wrap;
  min-width: 5%;
  flex-basis: 20%;
}

#gridViewWrapper {
  display: flex;
  align-items: center;
  width: 95%;
  padding: 1% 1%;
  align-items: stretch;
  max-height: 20vw;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 20%;
  flex-grow: 1;
  min-width: 5%;
}

.rowViewWrapper {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 3%;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 1px solid;
  border-color: darken($highlight_color, 15%);
  // flex-basis: 15%;
  max-width: 50%;
  float: left;
  background-color: $highlight_color;
  padding: 1% 2%;
  margin: 1%;
  flex-basis: 28%;
  border-radius: 25px;
  transition:
    border 0.5s ease,
    box-shadow 0.3s ease,
    transform 0.2s ease,
    flex-basis 0.4s ease,
    flex-grow 0.4s ease,
    margin 0.4s ease;
  &:hover {
    box-shadow:
      -6px -6px 15px lighten($highlight_color, 5%),
      6px 6px 15px darken($highlight_color, 10%);
    border-color: $highlight_color;
    transform: scale(1.005);
    background-color: lighten($highlight_color, 0.5%);
    flex-basis: 28%;
    margin: 1% 1.5%;
  }
}

.tags {
  display: flex;
  flex-flow: row wrap;
  flex-basis: auto;
}

h2,
p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.resourcesContainer {
  background-color: $highlight_color;
  box-shadow: inset 0 0px 30px darken($highlight_color, 30%);
  height: 40vw;
  display: inline-block;
}

#sideMenu {
  display: inline-block;
  padding: 15px;
}

.tag {
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: darkblue;
  border-radius: 10px;
  padding: 7px;
  margin: 10px 0px;
}
